
/* general styling */
:root {
    --smaller: .75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}


body {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1c1e2e;

    font-family: "Gadugi", sans-serif;
}


li strong {
    color: #90d2dc;
}

p strong {
    color: #53b9c9;
    font-size: larger;
}

.divTitle {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title1 {
    text-align: center;
    font-size: 10vh;
    text-shadow: 2px 2px #B0E0EE;
}

.title2 {
    padding-left: 26%;
    font-size: 4vh;
    text-shadow: 1px 1px #B0E0EE;
}

.text {
    margin: 2% 18%;
    line-height: max(3vh, 20px);
}

.inscription {
    text-align: center;
    font-size: xx-large;

    text-shadow: 1px 1px #B0E0EE;
}

.liText {
    margin-left: 6%;
    margin-bottom: 2%;
}

.logo {
    display: block;
    width: 50%;
    margin: 5% auto;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

#headline {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;

    text-shadow: 1px 1px #B0E0EE;
}

.liCountdown {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    font-size: 1.5em;
    list-style-type: none;
    max-width: 20vw;
    padding: 1em;
    text-transform: uppercase;

    text-shadow: 1px 1px #B0E0EE;

}

.liCountdown span {
    font-size: 4.5em;

    animation: animationLi .25s forwards;
    animation-iteration-count: 1;
}


@keyframes animationLi {
    0% {
        opacity: 0.3;
        text-shadow: 0 0 #B0E0EE;
    }
    60% {
        text-shadow: 1px 1px #B0E0EE;
    }
    100% {
        opacity: 1;
    }
}


@media all and (max-width: 768px) {
    #headline {
        font-size: calc(1.5rem * var(--smaller));
    }

    .liCountdown {
        font-size: calc(1.125rem * var(--smaller));
    }

    .liCountdown span {
        font-size: calc(3.375rem * var(--smaller));
    }
}

.bouton {
    height: 10vh;
    max-height: 40px;
    width: 40vw;
    max-width: 200px;
    display: block;
    margin: 6% auto;

    background-color: rgba(144, 210, 220, 0.8);
    border: solid 3px #0e606c;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-stretch: expanded;
    font-weight: bold;

    box-shadow: 0.06em 0.06em 0.05em 0.05em #B0E0EE;
}

